{{!
    @template mod_simplequiz2/question_block_end
    @copyright 2026 Dixeo (contact@dixeo.com)

    Closing marker for one question block (used by edit form JS).

    Context variables:
    * questionid - Question index
}}
</div>
</div>
<div data-simplequiz2-block-end="{{questionid}}" class="simplequiz2-question-block-end d-none" hidden aria-hidden="true"></div>
